@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX.CSS */
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("./Components/Assets/OIP.jpeg");  */
  background-size:cover;
  background-position: center;
  /* background-color: rgb(161, 220, 245); */
  /* background-color: white; */
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LOGINFORM.CSS */

.container{
    width: 420px;
    background-color: #83D0FC;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius:10px ;
    padding: 30px 40px;

}
.container h1{
    font-size: 36px;
    text-align: center;
   
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 80%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 1px;
    font-size: 16px;
    color: black;
    
}

.input-box select{
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  color: black;
}

.input-box input::placeholder{
    color:  black;
} 

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px;
}



.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -4px 0 15px;
}

.remember-forgot label input a{
    accent-color: white;
    margin: 4px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.container .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* HOMEPAGE.CSS */

.HomePage{
    color: black;
  }

.HomeHeader{
  font-size: 35px;
  text-align: center;
  padding: 10px;
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
}

.HomeHeader-home{
  font-size:30px;
  padding: 10px;
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
  float: right; 
  position: absolute;
  top: 100px;
  text-align: Left;
  display: block;
  /* color: white; */
  margin: 0 auto;
  word-wrap: break-word; 
  width: 600px;
  padding: 20px;
}

.HomeHeader-home h1{
 font-size: larger;
 margin-bottom: 20px;
}
.HomeHeader-home p{
  font-size: 30px;
  display: inline-block;
}


.HomeBody{
    margin: 20px;
}
.Home-Button{
    font-family: "Katibeh", serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    position: relative;

}
/* Home Button */
.SignUp-button{
  font-family: "Katibeh", serif;
  background: #83d0fc;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 25px;
  border-radius:15px;
  margin: 20px;
  
}
.LogSgn-btn{
  position: absolute;
  left: 10px;
}
.LogIn-button{
  font-family: "Katibeh", serif;
  background: #83D0FC;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  font-size: 25px;
  border-radius:15px;
}

.LogIn-button:hover {
  /* Hover style */
  background-color: white; /* Change to your desired color */
  color:#83D0FC ;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.SignUp-button:hover {
  /* Hover style */
  background-color: white; /* Change to your desired color */
  color:#83D0FC ;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
/* 
.gray{
  background: white;
  color: #83D0FC;
} */


button[type="submit-btn"] {
  background-color: white;
  color: #83D0FC;
  width: 100%;
  justify-content: center;
    align-items: center;
    border: 2px solid black;
}
button[type="submit-btn"]:hover {
  background-color: #83D0FC;
  color: white;
  width: 100%;
  justify-content: center;
    align-items: center;
    border: 2px solid black;
}


                    /* Log In FORM */
.Rectangle{
  height: 410px;
  width: 600px;
  position: relative;
  background-color: #83D0FC;
  margin: auto;
  top: 15px;
  box-shadow:10px 14px 10px 15px #83D0FC;
}

.login-form-container input#fullName{
  width: 80%;
  position: relative;
  margin-left: 50px;
  font-family: "Katibeh", serif;
  font-size: 20px;
}


.login-form-container input#matricnumber{
  width: 80%;
  height: 30px;
  margin-left: 50px;
  font-family: "Katibeh", serif;
  font-size: 20px;
}
.login-form-container input#password{
    width: 80%;
    height: 30px;
    margin-left: 50px;
    font-family: "Katibeh", serif;
    font-size: 20px;
}
.login-form-container input#email{
    width: 80%;
    height: 30px;
    margin-left: 50px;
    font-family: "Katibeh", serif;
    font-size: 20px;
}
select.my-select-class{
  width: 80%;
  height: 50px;
  position: relative;
  margin-left: 50px;
  font-family: "Katibeh", serif;
  font-size: 20px;
}


.login-form-label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Katibeh", serif;
  font-size: 25px;
  padding: 6px;
}

.Body-text{
  position: relative;
  text-align: right;
}
.Body-text h1{
  bottom: 190px;
  text-align: right;
  margin-right: 15px;
  position: relative;
  font-size: 35px;
  font-family: "Katibeh", serif;
}

.SignUp-button1{
  cursor: pointer;
}

                /* SIGN-UP PAGE */

.wrapper{
  height: 400px;
  width: 500px;
  position: relative;
  background-color: white;
  margin: auto;
  top: 15px;
  box-shadow:5px 5px 15px 5px rgb(6, 6, 124);
  
}
.wrapper input{
  font-weight: bold;
  font-size: 28px;
}

.smallBox::placeholder{
  text-align: center;
}
.smallBox1::placeholder{
  text-align: center;
}
.smallBox2::placeholder{
  text-align: center;
}
.smallBox3::placeholder{
  text-align: center;
}

.smallBox4::placeholder{
  text-align: center;
}

.smallBox5::placeholder{
  text-align: center;
}

.smallBox{
  height: 60px;
  width: 240px;
  font-family: "Katibeh", serif;
  background-color: #83D0FC;
  position:relative;
  border: none;
  top: 10px;
  left: 40px;
  border-radius: 6%;
}

.smallBox1{
  height: 60px;
  border: none;
  width: 240px;
  background-color: #83D0FC;
  font-family: "Katibeh", serif;
  position: relative;
  top: 80px;
  right: 60px;
  border-radius: 6%;
}

.smallBox4{
  height: 60px;
  width: 240px;
  border: none;
  background-color: #83D0FC;
  font-family: "Katibeh", serif;
  position: relative;
  top: 90px;
  right: 40px;
  border-radius: 6%;
}

.smallBox5{
  height: 60px;
  width: 240px;
  border: none;
  background-color: #83D0FC;
  font-family: "Katibeh", serif;
  position: relative;
  top: 100px;
  left:40px;
  border-radius: 6%
}
.smallBox6{
  height: 60px;
  width: 240px;
  border: none;
  background-color: #83D0FC;
  font-family: "Katibeh", serif;
  position: relative;
  top: 170px;
  right:40px;
  border-radius: 6%;
}
.smallBox7{
  height: 60px;
  width: 240px;
  border: none;
  background-color: #83D0FC;
  font-family: "Katibeh", serif;
  position: relative;
  top: 180px;
  left:40px;
  border-radius: 6%;
  font-size: 25px;
}

.wrapper form{
  width: 100%;
}
.Login-button1{
  cursor: pointer;
}
.LogText{
  position: relative;
  text-align: right;
  font-family: "Katibeh", serif;
  top: 19px;
  right: 30px;
}

.wrapper input[type="text"] {
  padding: 10px;
}


                /* Student Body */

.block-elements{
  display: flex;
  justify-content: space-evenly;
  border: 20px;
  margin-top: 40px;

}
.Exeat{
  border-style: solid;
  border-width: 5px;
  background-color: #83D0FC;
  text-align: center;
  padding: 20px;
  height: 200px;  
  width: 400px; 
}

/* }
.Exeat h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Exeat p {
  font-size: 16px;
  margin-bottom: 5px;
}

.Exeat-text{
background-color: red;
margin-top: 40px;
box-shadow: -35px 0px 50px 0px black;
height: 150px;
border-radius: 4%;
}

.Exeat .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Exeat .buttons button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;

} */

/* Student-Faculty */
.faculty-wrapper{
  position: relative;
  height : 100vh;
  overflow: hidden;

 
}
.faculty-wrapper-continer{
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; 
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.faculty-wrapper-details{
  position : relative;
  background-color: #83D0FC;
  color: black;
  font-family: "Katibeh", serif;
  font-size: 30px;
  padding: 30px;
  height: 80%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: max-content;
}
.faculty-wrapper-details-1{
  position : relative;
  background-color: red;
  color: black;
  font-family: "Katibeh", serif;
  font-size: 30px;
  padding: 30px;
  height: 80%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: max-content;
  
}
  .abstract-div{
    background-color: white;
  }
.faculty h1{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: "Katibeh", serif;
  font-size: 50px;
  font-weight: 100;
}
.faculty-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

.faculty-button{
  font-family: "Katibeh", serif;
  background: red;
  border: none;
  cursor: pointer;
  box-shadow:10px 10px 5px red;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  font-size: 29px;
  border-radius:15px;

}
.faculty-button-1{
  font-family: "Katibeh", serif;
  background: #83D0FC;
  border: none;
  cursor: pointer;
  box-shadow:10px 10px 5px #83D0FC;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.25s ease-out; /* Smooth transition */
  font-size: 29px;
  border-radius:15px;
}

.faculty-button:hover {
  transform: scale(1.50);
  background-color: white; /* Change to your desired color */
  color:red ;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.faculty-button-1:hover {
  transform: scale(1.50);
  background-color: white; /* Change to your desired color */
  color: #83D0FC;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  
}

                              /* FBMAS */
.HomeHeader-1{
  font-size: 55px;
  text-align: center;
  padding: 10px;
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;

}


@keyframes stripes {
  0% { background-position: 0 0; }
  100% { background-position: -100% 0; }
} 

.search-box-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.year-box{
  border: 2px solid black;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.department-box-container{
  border: 2px solid black;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.search-box{
  -webkit-appearance: none;
  border: 2px solid black;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.filtered-projects{
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height : 230px;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-card{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 0, 0);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0); 
  transition: transform 0.25s ease-out;
}
.project-cardFamss{
  display: flex;
  flex-direction: column;
  background-color: #83D0FC;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0); 
  transition: transform 0.25s ease-out;
}

.faculty-wrapper-details{
  position : relative;
  background-color: #83D0FC;
  color: black;
  font-family: "Katibeh", serif;
  font-size: 30px;
  padding: 30px;
  height: 60%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;

}

.project-card:hover{
  transform: scale(1.05);
}

.project-card-1{
  display: flex;
  flex-direction: column;
  background-color: #83D0FC;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.project-card-1:hover{
  transform: scale(1.05);
}


.uploadBtn-Famss{
  background-color: #83D0FC;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer; 
}

                      /* Attach Project */
                 .Rectangle-attach {
                       border-radius: 5px;
                         background-color: #f2f2f2;
                         padding: 5px;
                       
                       }
                     
                    .input-box-attach {
                         width: 70%;
                        margin: auto;
                        left: 200px;
                         padding: 12px;
                         border: 1px solid #ccc;
                         border-radius: 4px;
                         resize: vertical;
                       }
                     
                       label.address {
                         padding: 12px 12px 12px 0;
                         display: inline-block;
                       }
                     
                       input[type="topic"], select, textarea {
                         width: 70%;
                         padding: 12px;
                         border: 1px solid #ccc;
                         border-radius: 4px;
                         resize: vertical;
                       }
                       .uploadBtn-Famss{
                        background-color: #83D0FC;
                        border: 1px solid grey;
                        border-radius: 5px;
                        padding: 2px;
                        cursor: pointer; 
                      }
                      .upload{
                        background-color: red;
                        color: white;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        float: right;
                        transition: background-color 0.25s ease-out; 
                      }
                      
                      .fbmas-upload{
                         background-color: red;
                         color: black;
                         padding: 12px 20px;
                         border: none;
                         border-radius: 4px;
                         cursor: pointer;
                         float: right;
                         transition: background-color 0.25s ease-out; 
                       }
  
                       .fbmas-upload:hover{
                        transform: scale(1.50);
                        background-color: white;
                        color:red;
                        border: 1px solid black;
                        box-shadow: 1px 1px 1px black;
                       }

                      .upload-btn{
                         background-color: #83D0FC;
                         color: black;
                         padding: 12px 20px;
                         border: none;
                         border-radius: 4px;
                         cursor: pointer;
                         float: right;
                         transition: background-color 0.25s ease-out; 
                       }
                     
                       .upload-btn:hover {
                        transform: scale(1.50);
                        background-color: white; 
                        color: #83D0FC;
                        border: 1px solid black;
                        box-shadow: 1px 1px 1px black;
                       }


                     
                      .col-25 {
                         float: left;
                         width: 25%;
                         margin-top: 6px;
                       }
                     
                      .col-75 {
                         float: left;
                         width: 75%;
                         margin-top: 6px;
                       }
                     
                       /* Clear floats after the columns */
                      .row::after {
                         content: "";
                         display: table;
                         clear: both;
                       }
                     
                       /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                       @media screen and (max-width: 600px) {
                        .col-25,.col-75, input[type="submit"] {
                           width: 100%;
                           margin-top: 0;
                         }
                    }
