@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX.CSS */
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("./Components/Assets/OIP.jpeg");  */
  background-size:cover;
  background-position: center;
  /* background-color: white; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LOGINFORM.CSS */

.container{
    width: 420px;
    background-color: #83D0FC;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius:10px ;
    padding: 30px 40px;

}
.container h1{
    font-size: 36px;
    text-align: center;
   
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:  black;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px;
}



.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -4px 0 15px;
}

.remember-forgot label input a{
    accent-color: white;
    margin: 4px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.container .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* HOMEPAGE.CSS */

.HomePage{
    color: black;

  }

.HomeHeader{
  font-size: 35px;
  text-align: center;
  padding: 10px;
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
}
.HomeBody{
    margin: 20px;
    
}
.Home-Button{
    font-family: "Katibeh", serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    position: relative;

}
/* Home Button */
.SignUp-button{
  font-family: "Katibeh", serif;
  background: #83D0FC;
  border: none;
  cursor: pointer;
  box-shadow:10px 10px 5px #83D0FC;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 29px;
  border-radius:15px;
}

.LogIn-button{
  font-family: "Katibeh", serif;
  background: #83D0FC;
  border: none;
  cursor: pointer;
  box-shadow:10px 10px 5px #83D0FC;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  font-size: 29px;
  border-radius:15px;
}
.LogIn-button:hover {
  /* Hover style */
  background-color: white; /* Change to your desired color */
  color:#83D0FC ;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.SignUp-button:hover {
  /* Hover style */
  background-color: white; /* Change to your desired color */
  color:#83D0FC ;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
/* 
.gray{
  background: white;
  color: #83D0FC;
} */



                    /* Log In FORM */
.Rectangle{
  height: 390px;
  width: 600px;
  position: relative;
  background-color: #83D0FC;
  margin: auto;
  top: 15px;
  box-shadow:10px 14px 10px 15px #83D0FC;
}

.login-form-container h1{
  display: flex;
  justify-content: center;
}
.login-form-container form{
  width: 100%;
}

.login-form-container input#fullName{
  width: 85%;
  margin-left: 50px;
  font-family: "Katibeh", serif;
  font-size: 25px;
}

.login-form-container input#matricNumber{
  width: 85%;
  margin-left: 50px;
  font-family: "Katibeh", serif;
  font-size: 25px;
}
.login-form-container input#password{
  width: 85%;
    margin-left: 50px;
    font-family: "Katibeh", serif;
    font-size: 25px;
}

.login-form-label{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Katibeh", serif;
  font-size: 35px;
}
.Body-text{
  position: relative;
  text-align: right;
}
.Body-text h1{
  bottom: 190px;
  text-align: right;
  margin-right: 15px;
  position: relative;
  font-size: 35px;
  font-family: "Katibeh", serif;
}

.SignUp-button1{
  cursor: pointer;
}

